<main style="user-select: auto;">
        <p id="notice" style="user-select: auto;"></p>
        <div class="container" style="user-select: auto;">
  <div class="row" style="user-select: auto;">
    <h1 class="px-3 mx-auto" style="user-select: auto;">Welcome to <i class="fas fa-book" style="user-select: auto;"></i><strong style="user-select: auto;">Bookers</strong>!</h1>
  </div>
</div>
</main>

<footer style="user-select: auto;">
  <div class="container mt-5" style="user-select: auto;">
  	<div class="row" style="user-select: auto;">
    	<div class="mx-auto" style="user-select: auto;">
    		<p style="user-select: auto;">CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>